.JobCard {
    width: 936px;
    height: 34px;
    border-radius: 3px;
    padding: 10px;
}

.inverted {
    width: 936px;
    height: 34px;
    border-radius: 0;
    padding: 10px;
    background-color: rgba(17, 45, 78, 1);
    border: 1px solid rgba(17, 45, 78, 1);
}

.jobs {
    width: 151px;
    height: 20px;
}

.name {
    width: 266px;
    height: 20px;
}

.status {
    width: 80px;
    height: 20px;
}

.panel {
    width: 114px;
    height: 20px;
}

.progress {
    width: 148px;
}

.btn {
    width: 148px;
    padding: 0 7px;
}

.abbreviation {
    width: 174px;
}