.Sidebar {
    position: relative;
    width: 195px;
    background-color: var(--sidebar-bg);
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 20px;
    padding-bottom: 30px;
    transition: width 0.2s;
    height: 100vh;
}

.btn {
    position: absolute;
    top: 18px;
    right: -12px;
}

.collapsed {
    width: 54px;
    transition: width 0.2s;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 22px;
    padding-bottom: 30px;
}

.logo {
    width: 15px;
    height: 15px;
}