.Hr {
    height: 1px;
    background: rgba(64, 87, 113);
    border: none;
}

.max {
    width: 100%;
}

.maxInverted {
    height: 100%;
}

.hrVertically {
    width: 1px;   
    background: rgba(64, 87, 113);
    border: none;
    border-left: 0.5px solid rgba(207,213,221);
   }

.inverted {
    background: rgba(207,213,221);
}